@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}




     <div class="container">
        <div class="row">

    @foreach(var obj in Model)
    {
           <div class="col-md-4 mt-4">
               <div class="card">
  <img style="height:200px;width:200px;margin:auto" src="https://thumbs.dreamstime.com/b/black-lost-found-icon-logo-white-black-lost-found-icon-logo-131402271.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 style="color:red" class="card-title">@obj.Name</h5>
    <p class="card-text">@obj.Details</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@obj.Posted_by</li>
    </ul>
    <a asp-controller="Products" asp-action="Details" asp-route-id="@obj.Id">Details</a> 


</div>
           </div>
    }

       
            

        </div>
    </div>




