@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div>
    <h2>Account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        
                 <div class="col-md-2"></div>
                 <div class="col-md-6">
                           @RenderBody()

                 </div>
                 <div class="col-md-2"></div>
           

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
